
<app-navbar></app-navbar>

<section>
    <!-- Slider Section -->
 
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://media.istockphoto.com/id/1364075546/photo/empty-corridor-in-modern-hospital-with-information-counter-and-hospital-bed-in-rooms-3d.jpg?s=612x612&w=0&k=20&c=xxFDmIVpH1wJaaiorpvfzec4RRggSb48PDb_dU9bTjo=" alt="Los Angeles" width="1100" height="500">
            <div class="carousel-caption">
              <h1 class="_font-30">Adhar Hospital</h1>
              <p>Multi - Secelist .</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src="https://thumbs.dreamstime.com/b/hospital-surgery-corridor-25068453.jpg" alt="" width="1100" height="500">
            <div class="carousel-caption">
              <h3>All facilistits avilabla here</h3>
              <p>be happy and be helthy</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src="https://mc.webpcache.epapr.in/mcms.php?size=large&in=https://mcmscache.epapr.in/post_images/website_350/post_28872061/full.jpg" alt="New York" width="1100" height="500">
            <div class="carousel-caption">
              <h3>Opration Thetor</h3>
              <p>We are here for your care</p>
            </div>   
          </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
</section>

<section>
    <!-- About Hostipatl Section -->
   <section class="p-5 m-5 border">
     <h2>About Hospital</h2>
     <p>
        Establis in 3 Feb 2003 . 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor at asperiores praesentium? Eaque dolor, odio ut voluptatem tempore in dolorum modi fugiat dignissimos laudantium. Dolores beatae voluptate consequatur rem earum?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil eligendi dolores assumenda ut suscipit odit placeat quaerat esse nemo. Inventore assumenda eum eius quasi harum possimus id quo similique ex.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae excepturi animi quo blanditiis rerum ut fuga, possimus nihil at totam magnam beatae recusandae. Non repellat odio labore voluptas saepe eos?
     </p>
     <p class="text-right text-secondary"> - Dr Hemant Mane <br> ( CEO Founder)</p>
   </section>
</section>

<section class="bg-secondary text-white p-5">
    <!-- Features Section -->
    <h2>Features </h2>
    <section class="row m-1">
      <div class="col-md-6">
         <ol>
            <li>
                <i class="fa fa-check px-3"></i>
                HMR -scan ( rem ipsum dolor sit amet consectetur, adipisicing elit. Nihil elig )
            </li>
            <li>
                <i class="fa fa-check px-3"></i>
                Full -Body -scan ( rem ipsum dolor sit amet consectetur, adipisicing elit. Nihil elig )
            </li>
            <li>
                <i class="fa fa-check px-3"></i>
                24 hr Staff Avilable ( rem ipsum dolor sit amet consectetur, adipisicing elit. Nihil elig )
            </li>
            <li>
                <i class="fa fa-check px-3"></i>
                Seprate Bed ( rem ipsum dolor sit amet consectetur, adipisicing elit. Nihil elig )
            </li>
         </ol>
      </div>
      <div class="col-md-6">
        <ol>
            <li>
                <i class="fa fa-check px-3"></i>
                CT-Scan ( rem ipsum dolor sit amet consectetur, adipisicing elit. Nihil elig )
            </li>
            <li>
                <i class="fa fa-check px-3"></i>
                EYE - Terepy ( rem ipsum dolor sit amet consectetur, adipisicing elit. Nihil elig )
            </li>
            <li>
                <i class="fa fa-check px-3"></i>
                24 hr Staff Avilable ( rem ipsum dolor sit amet consectetur, adipisicing elit. Nihil elig )
            </li>
            <li>
                <i class="fa fa-check px-3"></i>
                Seprate Bed ( rem ipsum dolor sit amet consectetur, adipisicing elit. Nihil elig )
            </li>
         </ol>
      </div>
    </section>
</section>

<section class="p-5">
    <!-- Doctores Team Section -->
    <h2>Our Team</h2>
    <section class="row m-1">
     <div class="col-md-4">
        <div class="border p-2">
          <img src="https://png.pngtree.com/png-clipart/20190925/original/pngtree-female-doctor-nurse-character-elements-png-image_4976809.jpg" alt="" width="100%" height="250">
          <h5>Name : Dr Shipa Sheti (MBBS) </h5>
          <p>- ( EYE - Seclisty )  </p>
          <p>Contact No : 989789898</p>
        </div>
     </div>
     <div class="col-md-4">
        <div class="border p-2">
          <img src="https://png.pngtree.com/png-clipart/20190925/original/pngtree-female-doctor-nurse-character-elements-png-image_4976809.jpg" alt="" width="100%" height="250">
          <h5>Name : Dr Shipa Sheti (MBBS) </h5>
          <p>- ( EYE - Seclisty )  </p>
          <p>Contact No : 989789898</p>
        </div>
     </div>
     <div class="col-md-4">
        <div class="border p-2">
          <img src="https://png.pngtree.com/png-clipart/20190925/original/pngtree-female-doctor-nurse-character-elements-png-image_4976809.jpg" alt="" width="100%" height="250">
          <h5>Name : Dr Shipa Sheti (MBBS) </h5>
          <p>- ( EYE - Seclisty )  </p>
          <p>Contact No : 989789898</p>
        </div>
     </div>
    </section>
</section>

<section class="bg-secondary text-white p-5">
  <!-- Photos Gallary -->
  <h2 class="">Other Things </h2>
   <section class="row m-1">
    <div class="col-md-3" *ngFor="let item of photoArr">
      <div class="border p-2 my-3">
        <img [src]="item.path" alt="" width="100%" height="100">
        <p> MR-SCAN Tool</p>
      </div>
    </div>
   </section>
</section>
<app-footer></app-footer>